<!-- Side Nav -->
<!-- <app-side-nav></app-side-nav> -->

<!-- Maps -->
   
<div id='map' style="height: 100vh;" #mapElement>
    <div class="card">
        <!-- Heading section -->
        <h2 id="title">Camp Fire</h2>
        <p id="date">{{currentdate}}</p>
        <p id="time">{{datetime}}</p>
    
        <!-- Case Listing -->
        <ul class="list-group">
            <li class="list-group-item active">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Cras justo odio</li>
          </ul>
    </div> 
</div>